html
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous")
    title Info
  body
    div(class="jumbotron container-fluid" style="min-height: 100vh; display: flex; flex-direction: column")

      h2(class="mb-4 mt-4") Info

      
      each i in info
        p
          span(class="fw-bold")  #{i.key}:   
          span #{i.value}  